/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ene-2020, 13:37:54
    Author     : Amalio
*/
form{
    margin:30px auto;
}

.table-form{
    padding: 10px;
    width:50% !important;
    min-width: 270px;
    margin: 0 auto;
}
td,tr{
    /*text-align: center;*/
    padding-left: 40px !important;
}

#preview{
    margin: 10px auto !important;
}
#preview img{
    max-width:250px !important;
    max-height: 300px !important;
}

#miSelect ul{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    font: 400 13.3333px Arial;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #495057;
    width:100%;
}
.alert{
    margin-top: 20px;
}