tr :first-child {
    display: none;
}
th,td {
    text-align: center;
}
tbody tr :nth-child(2) {
    text-align: left;
}
tbody tr :nth-child(3) {
    text-align: left;
}

tbody tr:hover {
    cursor: pointer;
    opacity: 0.75;
}
span.highlight {
    display: inline;
    background-color: yellow;
}
img.mostrarImagen {
    display:inline-table;
    max-width: 50px;
}
#contenedorTablaProductos.container {
    margin-top: 3%;
    padding: 0;
}
.ordenacion {
    display: none;
}