tr :first-child {
    display: none;
}

tbody tr:hover {
    cursor: pointer;
    text-decoration: underline;
}
span.highlight {
    display: inline;
    background-color: yellow;
}
img.mostrarImagen {
    display:inline-table;
    max-width: 50px;
}
#contenedorTablaProductos.container {
    margin-top: 3%;
    padding: 0;
}