/* 
    Created on : 26-ene-2020, 13:24:44
    Author     : Amalio
*/

#conflictForm{
    margin-top: 15px;
}


button{
    width: 100px !important;
    height: 40px !important;
    margin: 3px;
}
#conflictos_wrapper {
    margin: 3% !important;
}
#conflictos th,td {
    text-align: center;
}