footer {
    width: 100% !important;
    margin-top: 20px;
}
.footer {
    background-color: #7A7D7F;
}

.footer p, h5 {
    color: white;
}
.footer p {
    text-align: justify;
}
.footer a {
    color: #E3DDC1;
    font-weight: bold;
}

.f-ico{
    font-size:36px;
    margin-left: 36px;
}

.f-p-ico{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.f-p-ico a{
    text-decoration: none;
}
.footer div{
    margin-left: auto;
    margin-right: auto;
}
