#reclamaciones_wrapper {
    margin: 3% !important;
}
#reclamaciones th,td {
    text-align: center;
}
#divReclamaciones {
    overflow: auto;
}
tbody tr:hover {
    cursor: pointer;
    opacity: 0.75;
}
span.highlight {
    display: inline;
    background-color: yellow;
}
button{
    width: 100px !important;
    height: 40px !important;
    margin: 3px;
}