#profileButton{
    display:inline-block;
    cursor:pointer;
    font-size:12px;
    padding:10px 16px;
    text-decoration:none;
    background-color: #007bff;
    border: none;
    border-radius:10px;
}

#contenedorPerfil{
    max-width: 290px;
}

#imgPerfil{
    max-width: 90%;
}


.labelPerfil{
    margin-top: 15px;
    font-weight: bold;
}
#mensajeErrores{
    color: red;
}

#contenedorDirecciones{
    padding: 1.25rem;
}
#titDirecciones{
    text-align: center;
}