#formEditarPerfil{

}

#btnSeleccionarImgPerfil{

}

#profileButton{
    display:inline-block;
    cursor:pointer;
    font-size:17px;
    padding:10px 16px;
    text-decoration:none;
    background-color: #007bff;
    border: none;
    border-radius:10px;
}

#contenedorPerfil{
    max-width: 290px;
}

#imgPerfil{
    max-width: 90%;
}