div.col-lg-9{
    max-width: 65% !important;/*Amalio: Me parecia que tenia un tamaño demasiado grande y lo encogí un poco*/
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1000px) { /*Marcos: me parece bien, pero aseguraos que los cambios se ven bien en resolución móvil*/
    div.col-lg-9 {
        max-width: 100% !important;
    }
}

#imgProducto {
    max-height: 300px !important;
}
#btn-coment {
    margin-top: 1%;
}
.checked {
    color: #ffc107;
}
.fa-star:hover {
    cursor: pointer;
    color: #ffc107;
}
.unchecked{
    color: lightgray;
}
button.btn-valoracion {
    margin: 5px;
}
form textarea {
    margin-bottom: 10px;
}
