div.col-lg-9{
    max-width: 65% !important;/*Amalio: Me parecia que tenia un tamaño demasiado grande y lo encogí un poco*/
    margin-left: auto;
    margin-right: auto;
}

#imgProducto {
    max-height: 300px !important;
}
#btn-coment {
    margin-top: 1%;
}
.checked {
    color: #ffc107;
}
.fa-star:hover {
    cursor: pointer;
    color: #ffc107;
}
.unchecked{
    color: lightgray;
}
